<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

</head>

<body>
    <nav class="navbar sticky-top navbar-toggleable-sm bg-info navbar-inverse">
        <!--<div class="container">-->
        <!--toggle button for small screen sizes and targets main nav-->
        <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>
        <a href="/pictures" class="navbar-brand" href="">PictureEsque</a>
        <!--item that is going to collapse. mainNav Id matches toggle button target-->
        <div class="collapse navbar-collapse" id="mainNav">
            <div class="navbar-nav">

                <a class="nav-item nav-link" href="">About</a>
                <a class="nav-item nav-link" href="">Sign up</a>
                <a class="nav-item nav-link" href="">Sign In</a>

        
            </div>


        </div>
        <!--</div>-->

    </nav>
    