<% include partials/header %>




    <div class="jumbotron jumbotron-fluid text-center">
        <!--centers text inside jumbotron-->
        <div class="container">
            <h1 class="display-1">Picture Esque</h1>
            <p class="lead">Your photos. Your sharing</p>
            <p>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="pictures/new" role="button"
                    style="text-decoration: none">Add a new Photo</a>
            </p>
        </div>
    </div>

    <div class="container">
        <!--creating cards here-->
        <div class="row text-center">

            <% picture.forEach(function(picture) { %>
                <div class="col-md-6 col-lg-3">
                    <div class="card">
                        <!--img at the top in order to make fluid-->
                        <img class="card-img-top img-fluid" src="<%= picture.image %>">
                     <div class="card-block">
                        <h3 class="lead"><%=picture.name%></h3> 
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>    
                    </div> 
                    </div>
                </div>
                <% }) %>

        </div>
    </div>


    












    <%include partials/footer %>